<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="IfaseSap" connectionString="Server=JST-W10\SQLEXPRESS02;Database=IFASE_SAP;User Id=sa;Password=sasql;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="gestorColas" type="Gestor.Cola.ColaSection, Gestor.Cola" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <gestorColas>
    <colas>
      <cola nombreCola="NOTEPAD" path="C:\Program Files (x86)\Notepad++" ejecutable="notepad++.exe" timeOut="10000" />
      <cola nombreCola="IFASE_SAP" path="\\sintzv\BAPI_SAPFI\GestionwIfaseSap" ejecutable="GestionIfaseSap.exe" />
    </colas>
  </gestorColas>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>